@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/Roboto-400-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url('./fonts/Roboto-500-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/Roboto-400.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./fonts/Roboto-500.woff') format('woff');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/Roboto-Mono-400.woff') format('woff');
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Material-Icons.woff') format('woff');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    --background: white;
    --elevated: white;
    --icon-hover: #ebebeb;
    --icon-active: #dedede;
    --hover: #efefef;
    --active: #e6e6e6;
    --text-primary: #1b1b1b;
    --text-secondary: #484848;
    --icons: #424242;
    --line: #c3c3c3;
    --button: #d09608;
    --button-text: #ad7d06;
    --button-hover: #fff6e2;
    --button-active: #ffeabb;
    --button-primary: #d09608;
    --button-primary-text: white;
    --button-primary-hover: #c18b06;
    --button-primary-active: #a97904;
    --button-destructive: #f44336;
    --button-destructive-text: #f44336;
    --button-destructive-hover: #fff2f1;
    --button-destructive-active: #ffd8d5;
    --switch-off-bk: #9E9E9E;
    --switch-off-head: #ececec;
    --switch-on-bk: #ffdb83;
    --switch-on-head: #d09608;
    --input-outline-focus: #d09608;
    --input-outline-blur: gray;
    --shadow: rgba(0, 0, 0, 0.3);
    background: var(--background);
    color: var(--text-primary);
    user-select: none;
}

body.darkmode {/*TODO*/
    --background: black;
    --text-primary: white;
}

.top_title {
    height: 60px;
    background: var(--elevated);
    box-shadow: 0px 0px 10px var(--shadow);
    z-index: 10;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.top_title > .title_text {
    font-size: 22px;
    line-height: 22px;
    padding-top: 19px;
    padding-left: 12px;
    font-weight: 500;
    color: var(--text-primary);
    width: calc(100% - 60px - 12px);
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.top_title > .title_text:nth-child(2) {
    padding-left: 2px;
    width: calc(100% - 60px - 2px);
}

.top_title > .title_icon {
    width: 32px;
    height: 32px;
    padding: 7px;
    margin: 7px;
    float: left;
    transition: 0.1s background-color;
    border-radius: 32px;
    cursor: pointer;
}

.top_title > .title_icon:hover {
    background-color: var(--icon-hover);
}

.top_title > .title_icon:active {
    background-color: var(--icon-active);
}

.top_title > .title_icon i {
    font-size: 32px;
    color: var(--icons);
}

.container {
    top: 60px;
    bottom: 60px;
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
}

.server {
    padding: 15px;
    height: 50px;
    border-bottom: 1px solid var(--line);
    border-right: solid #f44336 8px;
    transition: 0.1s background-color;
    cursor: pointer;
}

.server:hover {
    background-color: var(--hover);
}

.server:active {
    background-color: var(--active);
}

.server.enabled {
    border-right: solid #4caf50 8px;
}

.server > div:nth-child(1) {
    float: left;
    height: 50px;
}

.server > div:nth-child(1) > input {
    width: 30px;
    height: 30px;
    margin: 0;
    margin-top: 10px;
    cursor: pointer;
}

.server > div:nth-child(2) {
    font-size: 20px;
    padding-left: 15px;
    float: left;
    width: calc(100% - 45px);
    cursor: pointer;
}

.server > div:nth-child(2) > div:nth-child(1) {
    padding-bottom: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.server > div:nth-child(2) > div:nth-child(2) {
    color: gray;
}

.button_row {
    padding: 10px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--elevated);
    height: 40px;
    box-shadow: 0px 0px 10px var(--shadow);
    z-index: 10;
}

.button {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    padding: 8px 10px;
    background-color: transparent;
    border: 2px solid var(--button);
    color: var(--button-text);
    float: right;
    border-radius: 6px;
    /* box-shadow: 0px 1px 3px 0px var(--shadow); */
    cursor: pointer;
    transition: background-color 0.1s, box-shadow 0.1s, border-color 0.1s;
}

.button:hover {
    background-color: var(--button-hover);
}

.button:active {
    background-color: var(--button-active);
}

.button.primary {
    background-color: var(--button-primary);
    border-color: var(--button-primary);
    color: var(--button-primary-text);
}

.button.primary:hover {
    background-color: var(--button-primary-hover);
    border-color: var(--button-primary-hover);
}

.button.primary:active {
    background-color: var(--button-primary-active);
    border-color: var(--button-primary-active);
}

.button.destructive {
    border: 2px solid var(--button-destructive);
    color: var(--button-destructive-text);
}

.button.destructive:hover {
    background-color: var(--button-destructive-hover);
}

.button.destructive:active {
    background-color: var(--button-destructive-active);
}

.button.left {
    float: left;
}

.settings_title {
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
}

.settings_server_list ul {
    margin: 0;
    font-size: 18px;
}

.settings_server_list li {
    margin-bottom: 10px;
}

.settings_server_list {
    padding-bottom: 10px;
}

.checkbox_option input {
    margin: 0px;
    width: 20px;
    height: 20px;
    vertical-align: top;
    cursor: pointer;
}

.input_option {
    padding: 7px 12px;
    font-size: 19px;
    padding-bottom: 6px;
    padding-top: 8px;
}

.input_option > div.label {
    font-size: 18px;
    padding-bottom: 8px;
}

.input_option input {
    font-size: 20px;
    padding: 6px 8px;
    width: 200px;
    -webkit-appearance: none;
    border-radius: 7px;
    border: 2px solid var(--input-outline-blur);
    outline: none;
    transition: 0.1s border;
}

.input_option input:focus {
    border: 2px solid var(--input-outline-focus);
}

.option_group {
    padding-left: 20px;
}

.option_group.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.input_error {
    color: red;
    display: none;
    padding-left: 12px;
    font-size: 17px;
}

#prompt_bk {
    pointer-events: none;
    background: black;
    transition: opacity 0.2s;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 15;
    opacity: 0;
}

#prompt_bk.active {
    pointer-events: auto;
    opacity: 0.45;
}

#prompt {
    position: fixed;
    z-index: 20;
    width: 90%;
    max-width: 400px;
    background-color: var(--elevated);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 2px 12px 0px var(--shadow);
    border-radius: 10px;
    color: var(--text-primary);
    transition: pointer-events 0.25s, visibility 0.25s;
    overflow: hidden;
}

@keyframes prompt_show {
	0% {
		transform: translate(-50%,-50%) scale(0.85);
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: translate(-50%,-50%) scale(1);
	}
}

.prompt_show {
    animation: 0.2s prompt_show forwards;
    visibility: visible;
    pointer-events: auto;
}

@keyframes prompt_hide {
	0% {
		transform: translate(-50%,-50%) scale(1);
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
	100% {
		transform: translate(-50%,-50%) scale(0.92);
		opacity: 0;
	}
}

.prompt_hide {
    animation: 0.2s prompt_hide forwards;
    visibility: hidden;
    pointer-events: none !important;
}

.switch {
    position: relative;
    display: block;
    width: 50px;
    height: 25px;
    float: left;
}

.switch:before {
    left: 5px;
    top: 4px;
    width: 40px;
    height: 18px;
    background-color: var(--switch-off-bk);
    border-radius: 20px;
    content: "";
    position: absolute;
    margin: 0;
    outline: 0;
    transition: all 0.25s ease;
}

.switch:after {
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
    background-color: var(--switch-off-head);
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 14%), 0 2px 2px 0 rgb(0 0 0 / 10%), 0 1px 5px 0 rgb(0 0 0 / 8%);
    content: "";
    position: absolute;
    margin: 0;
    outline: 0;
    transition: all 0.25s ease;
}

.checked .switch:before {
    background-color: var(--switch-on-bk);
}

.checked .switch:after {
    background-color: var(--switch-on-head);
    transform: translateX(24px);
}

.switch_option {
    padding: 12px;
    padding-top: 16px;
    padding-bottom: 4px;
    overflow: hidden;
    cursor: pointer;
}

.switch_option .label {
    float: left;
    font-size: 18px;
    padding-left: 10px;
    width: calc(100% - 60px);
    padding-top: 1px;
}

.checkbox_option {
    overflow: hidden;
    cursor: pointer;
    padding-left: 5px;
    font-size: 19px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-top: 6px;
}

.checkbox_option .checkbox {
    width: 28px;
    height: 28px;
    padding: 6px;
    float: left;
    transition: 0.1s background-color;
    border-radius: 32px;
    cursor: pointer;
}

.checkbox_option:hover .checkbox {
    background-color: var(--icon-hover);
}

.checkbox_option:active .checkbox {
    background-color: var(--icon-active);
}

.checkbox_option.checked:hover .checkbox {
    background-color: var(--button-hover);
}

.checkbox_option.checked:active .checkbox {
    background-color: var(--button-active);
}

.checkbox_option .checkbox i {
    font-size: 28px;
    color: var(--icons);
}

.checked .checkbox i {
    color: var(--button);
}

.checkbox_option .label {
    float: left;
    font-size: 18px;
    padding-left: 5px;
    width: calc(100% - 40px - 5px);
    padding-top: 9px;
    padding-bottom: 2px;
}

.settings_section_header.first_section {
    border-top: 1px solid var(--line);
}

.settings_section_header {
    padding: 16px 11px;
    overflow: hidden;
    transition: 0.1s background-color;
    cursor: pointer;
    border-bottom: 1px solid var(--line);
}

.settings_section_header.section_visible > div:nth-child(3) i {
    transform: rotate(180deg);
}

.settings_section_header:hover {
    background-color: var(--hover);
}

.settings_section_header:active {
    background-color: var(--active);
}

.settings_section_header > div:nth-child(1) {
    float: left;
    width: 28px;
    height: 28px;
}

.settings_section_header > div:nth-child(1) i {
    color: var(--icons);
    font-size: 28px;
}

.settings_section_header > div:nth-child(2) {
    font-size: 19px;
    float: left;
    padding-left: 11px;
    line-height: 28px;
    padding-right: 10px;
    width: calc(100% - 21px - 28px - 28px);
    font-weight: 500;
}

.settings_section_header > div:nth-child(3) {
    float: left;
    width: 28px;
    height: 28px;
}

.settings_section_header > div:nth-child(3) i {
    font-size: 28px;
    color: var(--icons);
    transition: 0.2s transform;
}

.settings_section {
    overflow: hidden;
    transition: 0.2s height;
    height: 0px;
}

.settings_section_inner {
    padding: 6px 0px;
}

.section_content_visible.settings_section {
    border-bottom: 1px solid var(--line);
}

.filepicker_input_option {
    position: relative;
}

.filepicker_input_option input {
    width: calc(100% - 39px);
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
    background-color: var(--background);
    text-align: left;
    direction: rtl;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 9px;
}

.filepicker_input_option input:active {
    border: 2px solid var(--input-outline-focus);
    border-right: 0px;
}

.filepicker_input_option .button {
    width: 23px;
    height: 23px;
    padding: 6px;
    position: absolute;
    right: 12px;
    bottom: 6px;
    border-radius: 7px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.filepicker_input_option input:hover + .button {
    background-color: var(--button-hover);
}

.filepicker_input_option input:active + .button {
    background-color: var(--button-active);
}