/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

a.sidebar-link[href="/docs/settings.html#app-settings-2"] {
  display: none;
}

#app-settings-2 {
  display: none;
}