/**
 * Custom Styles here.
 *
 * refï¼šhttps://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img {
  max-width: 350px !important;
}

.home_footer {
  text-align: center;
  padding-bottom: 1rem;
}

.home_footer div {
  font-size: 17px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

:root {
  scroll-behavior: smooth;
  --back-to-top-z-index: 5;
  --back-to-top-color: #d09608;
  --back-to-top-color-hover: #bb8707;
  --c-brand: #d09608;
  --c-brand-light: #d09608;
  --c-tip: #d09608;
}

a.sidebar-link[href="/docs/settings.html#app-settings-2"] {
  display: none;
}

#app-settings-2 {
  display: none;
}

.home_footer {
  text-align: center;
  padding-bottom: 1rem;
}

.home_footer div {
  font-size: 17px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.coming_from_wsc_banner {
  text-align: center;
  font-size: 18px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

figcaption {
  font-size: 15px;
}

blockquote {
    color: #405264;
}

html.dark {
  --c-brand: #d09608;
  --c-brand-light: #d09608;
  --c-tip: #d09608;
}
