/**
 * Custom palette here.
 *
 * ref：https://ecosystem.vuejs.press/themes/default/styles.html
 */

:root {
  --vp-c-accent: #d09608;
  --vp-c-accent-bg: #d09608;
  --vp-c-accent-hover: #bb8707;
  --vp-c-accent-text: #ffffff;
  --vp-c-accent-soft: rgba(208, 150, 8, 0.14);
}
