html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: white;
    color: #1b1b1b;
    position: relative;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}